body {
  background-image: url('../../../HTML/diff-directory.jpg');
  background-repeat: repeat-x;
  color: white;
  background-attachment: fixed;
}
#container {
  display: flex;
}
.desc {
  border: 5px dotted #222222;
  background-color: #FFd9a0;
  width: 350px;
  padding: 20px;
  margin-right: 20px;
}

#clip-border {
  background-clip: border-box;
}

#clip-padding {
  background-clip: padding-box;
}

#clip-content {
  background-clip: content-box;
}

/* 배경 이미지 위치 설정 */
ul {
  list-style-type: none;
  margin-left: -30px;
}

li {
  background-image: url(../../../HTML/diff-directory.jpg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left ceter;
  padding-left: 50px;
  line-height: 50px;
}
/* 배경 이미지 크기 */
#container {
  width: 500px;
  height: 500px;
  display: flex;
}
#container > div {
  border: 1px solid #222222;
  height: 150px;
  width: 150px;
  background-image: url(../../../HTML/diff-directory.jpg);
}
#background1 {
  background-size: auto;
}
#background2 {
  background-size: 200px;
}
#background3 {
  /* 너비는 요소 기준으로 50%, 높이는 자동계산 */
  background-size: 50%;
}
#background4 {
  background-size: 100% 100%;
}
#background5 {
  /* 요소의 배경 이미지가 다 보이게 표시 */
  background-size: contain;
}
#background6 {
  /* 요소를 완전히 덮도록 배경 이미지 표시 */
  background-size: cover;
}