.cat {
  width: 150px;
  height: 100px;
}
h1 {
  text-align: center;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.excel {
  width: 100%;
}


#data1 {
  margin-top: 2%;
}



th {
  border-bottom: 1px solid gray;
}
td {
  border-bottom: 1px solid gray;
}

tr {
  border-bottom: 1px solid gray;
}